body {
  font-family: Arial;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  background: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 15px;
  background: #2E8B57;
  color: white;
  border: none;
  cursor: pointer
  
